{% extends "home/index.html" %}
{% block title %} Hajj Information {% endblock %}
{% block news %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          <a class="nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-link" href="{% url 'register' %}">Registration</a>
          
        </div>
      </div>
    </div>
  </nav>
{%endblock%}
{% block content %}

<section>
    <h5 class="my-3">{{hotel.hotel_name}}</h5>
    <div class="row">
        
            <div class="col-md-4">
                <div>
                    
                    <img src="{{hotel.banner.url}}" height="200px" width="100%">
                    
               
                </div>
            </div>
            <div class="col-md-8">
                <span>Hotel</span>: <span>{{hotel.hotel_name}}</span><br>
                <span>Location</span>: <span>{{hotel.state}}, {{hotel.city}}, {{hotel.country}}</span><br>
                <span>Owner</span>: <span>{{hotel.owner}}</span><br>
                <span>Owner</span>: <span>{{hotel.owner}}</span><br>
            </div>
       
        
    </div>
 </section>

 
{% endblock %}