{% extends "home/index.html" %}
{% block title %} {{hotel.hotel_name}} {% endblock %}
{% block news %}
<div class="container">
  
    <div class="container-fluid">
      <div class="bg-primary">
        <p class="text-uppercase text-center">{{hotel.hotel_name}}</p>
      </div>
      
      
    </div>
  
</div>

{%endblock%}
{% block content %}

<section>
   
    <div class="row bg-light">
        
            <div class="col-md-12">
                <div>
                    
                    <img src="{{hotel.banner.url}}" height="200px" width="100%">
                    
               
                </div>
            </div>
            <div class="col-md-12">
              <div class="row bg-white my-3 py-3 mx-1">
                <div class="col-md-9">
                  <div class="ms-3">
                    <h3>{{hotel.room}} ~ ${{hotel.price}}</h3>
                    <h6><span>{{hotel.state}}, {{hotel.city}}, {{hotel.country}}</span></h6>
                    <h6><span>Available({{hotel.available}})</span></h6>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="">
                    <button type="button" class="btn btn-primary">Booking Now</button>
                  </div>
                  
                </div>
              </div>
                
                
                
            </div>
       
        
    </div>
 </section>

 
{% endblock %}