{% extends "home/index.html" %}
{% block title %} Hajj Information {% endblock %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">First Name</label>
        {{form.first_name}}
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        {{form.last_name}}
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        {{form.email}}
    </div>
    <div class="mb-3">
        <label class="form-label">contact</label>
        {{form.contact}}
    </div>
    <div class="mb-3">
        <label class="form-label">Hotel</label>
        {{form.hotel_name}}
    </div>
    <div class="mb-3">
        <label class="form-label">password</label>
        {{form.password}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 
{% endblock %}