{% extends "home/index.html" %}
{% block title %} Hajj Information {% endblock %}

{% block content %}
<p align="justify">
    {{post.description}}    
</p>
{% load static %}
 <img src= "{{post.image.url}}", class="img-fluid",alt="Kaba"> 
 <section>
    <h5 class="my-3">Our services</h5>
    <div class="row my-2">
        {% for service in serv  %}
            <div class="col-md-4">
                <div class="card" style="width: 100%; height:18rem;">
                    <img src="{{service.image.url}}" class="card-img-top" alt="..." height="80%">
                    <div class="card-body">
                    <p class="card-text">{{service.name}}</p>
                    </div>
                </div>
            </div>
 
        {% endfor %}
        
    </div>
 </section>
 
{% endblock %}
