{% extends "home/index.html" %}
{% block title %} Hajj Information {% endblock %}
{% block news %}  
<marquee behavior="scroll" direction="right" class="bg-secondary py-2 fs-6"><h4><b>
    وَإِذْ جَعَلْنَا ٱلْبَيْتَ مَثَابَةً لِّلنَّاسِ وَأَمْنًا وَٱتَّخِذُوا۟ مِن مَّقَامِ إِبْرَٰهِۦمَ مُصَلًّى وَعَهِدْنَآ إِلَىٰٓ إِبْرَٰهِۦمَ وَإِسْمَٰعِيلَ أَن طَهِّرَا بَيْتِىَ لِلطَّآئِفِينَ وَٱلْعَٰكِفِينَ وَٱلرُّكَّعِ ٱلسُّجُودِ
  </b> </h4> 
</marquee>
<marquee behavior="scroll" direction="left" class="bg-primary py-2">
  <b>And [mention] when We made the House a place of return for the people and [a place of] security. 
    And take, [O believers], from the standing place of Abraham a place of prayer. 
    And We charged Abraham and Ishmael, [saying], 
    "Purify My House for those who perform Tawaf and those who are staying 
    [there] for worship and those who bow and prostrate [in prayer]." (2:125) </b>
  </marquee> 
  {%endblock%}
{% block content %}
{% for p in post %}
<p align="justify">
    {{p.description}}    
</p>
{% load static %}
 <img src= "{{p.image.url}}", class="img-fluid",alt="Kaba" width="100%"> 
 {% endfor %}
 <section>
    <h5 class="my-3">Our services</h5>
    <div class="row g-2">
        {% for service in serv  %}
            <div class="col-md-4">
                <div class="card" style="width: 100%; height:18rem;">
                    <a class="nav-link" href="{{service.slug}}">
                    <img src="{{service.image.url}}" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                    <p class="card-text">{{service.name}}</p>
                    </div>
                </a>
                </div>
            </div>
 
        {% endfor %}
        
    </div>
 </section>
 
{% endblock %}
